[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Kanna"]
	path = Carthage/Checkouts/Kanna
	url = https://github.com/tid-kijyun/Kanna.git
